<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,width=device-width"/>
    <title>test</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=uDg8DaCVRq5KnivRwm3z"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:799px)" href="./css/mobile.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:800px)" href="./css/desktop.css">
  </head>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

  <body>

    {{result}}
  </body>
</html>
